.Mains {
    display: grid;
    grid-template-columns: 19% 62% 19%;
    min-height: 600px;
}

#Mains-left { border-right: solid 1px #aabbaa; }
#Mains-right { border-left: solid 1px #aabbaa; }

.Write {
    padding: 20px;
    padding-left: 30px;
}

/* .write div 수정 */
.Write #Title {
    margin-top: 30px;
    margin-left: 50px;
}

#title_txt {
    width: 91%;
    padding-bottom: 30px;
    border: none;
    font-size: 22px;
    border-bottom: solid 1px #ababab;
    font-weight: bold;
}

#content_txt {
    width: 91%;
    resize: none;
    border: none;
    min-height: 400px;
}

#content_txt:focus { outline : none; }
#title_txt:focus { outline : none; }

#post_submit {
    text-align: center;
    margin-top: 30px;
}

#post_submit button {
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #ababab;
    cursor: pointer;
    background-color: white;
}

.Home {
    padding: 15px;
}

.List {
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 500px;
}

.list_tit {
    border-bottom: solid 1px #ababab;
    color : #ababab;
    padding-bottom: 10px;
}

.list_grid {
    display: grid;
    grid-template-columns: 70% 15% 15%;
}

.list_data {
    line-height: 40px;
}

.acenter {
    text-align: center;
}

.paging_div {
    margin-top: 10px;
    border-top: solid 1px #ababab;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    text-align: center;
}

.paging_div div {
    padding : 15px;
    text-align: center;
}

.page_num {
    margin-right: 20px;
    list-style: none;
    display : inline-block;
    cursor: pointer;
}

.search_input {
    padding: 2px;
    margin-right: 5px;
    margin-top: 15px;
    width: 50%;
}

.serach_submit {
    position: absolute;
    margin-top: 14px;
    cursor: pointer;
}

.not_data {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ababab;
}

.date_div {
    text-align: right;
    font-size: 14px;
    color: #ababab;
    margin-bottom: 10px;
    padding-right: 10px;
}

.top_title #title_txt {
    border: none;
    padding-bottom: 0px;
}

.top_title {
    border-bottom: solid 1px #ababab;
}

.Category {
    padding-left: 5px;
    padding-right: 20px;
}

.Category ul { line-height: 40px; }
.Category ul li { list-style: none; }
.Category ul li a { list-style: none; color : black; text-decoration: none; }
.Category ul li .pre_cat { font-weight: bold; color : teal }

.Edit {
    position: absolute;
    margin : 10px 0px 0px 15px;
    padding: 1px 8px 1px 7px;
    border-radius: 4px;
    color: #ababab;
    background-color: #fff;
    border-color: #ababab;
    cursor: pointer;
}

.remove_icon {
    position: absolute;
    width: 15px;
    margin-top: 14px;
    cursor: pointer;
}
.edit_input { 
    width: 70%;
    margin-left: 25px;
}

.modify_icon {
    position: absolute;
    width: 20px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.CKEditor {
    margin-top : 20px;
    margin-left: 50px;
    width: 86.3%;
}

.View {
    padding: 50px 70px 0px 70px;
}

.Like {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    margin-top: 150px;
}

.btn_list {
    list-style : none;
    width: 80%;
}

.btn_list li {
    float: left;
    margin-right: 50px;
    font-weight: bold;
    font-size: 14px;
}

#signup_title {
    color: #ababab;
    position: absolute;
    margin-left: 50px;
    margin-top: 40px
}

.Signup {
    padding: 70px 0px 0px 0%;
    display: grid;
    grid-template-columns: 50% auto;
}

.Signup div {
    margin-top: 40px;
    text-align: center;
}

.Signup div input { padding: 3px; }

input[name=signup_birthday] { width: 80px; }
input[name=signup_sex] { width: 10px; margin-left: 5px;}
input[name=signup_email] { width : 120px }
select[name=signup_email_select] { padding: 3px; margin-left: 5px; }
input[name=sigunup_submit] { 
    margin : 13% 54% 0% 46%; 
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    border: solid 1px #ababab;
    background-color: white; 
    cursor: pointer;
}
input[name=signup_email_write] {
    padding: 3px;
    position: absolute;
    margin-top: -30px;
    margin-left: 27px;
    width: 10%;
}

#signup_section { border-left: solid 1px #ababab; }

.search_user_info_div { 
    margin-top: 30px; 
    display: grid;
    grid-template-columns: 50% 50%;
    border-top: solid 1px #ababab;
}
.search_user_info_div div { 
    text-align: center; 
    margin-top: 10px;
}

.search_user_info_div div b { 
    cursor: pointer; 
    margin-top: -5px; 
    font-size: 14px; 
}

.back_and_close {
    border-bottom: solid 1px #ababab;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 8px;
  }
  
  .back_and_close #back_icon { text-align: left; }
  .back_and_close #close_icon { text-align: right; }
  .back_and_close div img { width: 20px; cursor: pointer; }

  .Search_div div {
    text-align: left;
    margin-left: 120px;
    font-size: 16px;
    margin-top: 30px;
  }

  .Search_div div h5 {
      height: 5px;
      margin-left: -15px;
  }

  .Search_div div input {
    padding: 3px;
}

  input[name=search_id_birthday] { width : 20%; text-align: center;}

  input[name=search_id_name], input[name=search_id_email],
  input[name=search_pw_id], input[name=search_pw_email] { 
      width : 50% 
  }

  input[name=search_id_sex] { width : 3.5%; text-align: center; margin-left : 5px }

  #search_id_email_div {
      position: absolute;
      margin-left: 0px;
      margin-top: 10px;
  }
  
  input[name=search_id_write_email], 
  input[name=search_pw_write_email] { 
      margin-left: 5px; 
      padding: 5px;
      width: 60%;
  }

  input[name=search_id_submit],
  input[name=search_pw_submit] {
      border: solid 1px #ababab;
      border-radius: 4px;
      margin-left: 50px;
      margin-top: 60px;
      cursor: pointer;
      padding: 5px;
  }

  .Search_id_result {
      width: 80%;
      margin-top: 8%;
      margin-left: 10%;
      height: 280px;
      border: solid 1px #ababab;
  }

.Search_id_result p { color: #ababab; }
.Search_id_result_div { margin-top: 50px; }
.Search_id_result_div div { margin-bottom : 50px;}
.Search_id_result_div h5 { height: 5px; }
input[name=search_id_back] { margin-top: 20px; cursor: pointer; }

.search_result_div div {
    margin-top: 70px;
}

input[name=pw_secret] {
    padding: 3px;
    margin-top: 10px;
    margin-right: 40px;
}

input[name=pw_secret_submit] {
    position: absolute;
    margin: 10px 0px 0px -30px;
    cursor: pointer;
}

.change_password_div div { margin-top: 30px; }
.change_password_div div span { line-height: 0px; }
.change_password_div div span p { color: #ababab; font-size: 14px; }
.change_password_div div div {
    line-height: 0px;
    margin-top: 50px;
}
input[name=change_password_submit] {
    margin-top: 30px;
    border: solid 1px #ababab;
    border-radius: 3px;
    cursor: pointer;
}