.Mains {
    display: grid;
    grid-template-columns: 19% 62% 19%;
    min-height: 600px;
}

#Mains-left { border-right: solid 1px #aabbaa; }
#Mains-right { border-left: solid 1px #aabbaa; }

.Write {
    padding: 20px;
    padding-left: 30px;
}

/* .write div 수정 */
.Write #Title {
    margin-top: 30px;
    margin-left: 50px;
}

#title_txt {
    width: 91%;
    padding-bottom: 30px;
    border: none;
    font-size: 22px;
    border-bottom: solid 1px #ababab;
    font-weight: bold;
}

#content_txt {
    width: 91%;
    resize: none;
    border: none;
    min-height: 400px;
}

#content_txt:focus { outline : none; }
#title_txt:focus { outline : none; }

#post_submit {
    text-align: center;
    margin-top: 30px;
}

#post_submit button {
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #ababab;
    cursor: pointer;
    background-color: white;
}

.Home {
    padding: 15px;
}

.List {
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 500px;
}

.list_tit {
    border-bottom: solid 1px #ababab;
    color : #ababab;
    padding-bottom: 10px;
}

.list_grid {
    display: grid;
    grid-template-columns: 70% 15% 15%;
}

.list_data {
    line-height: 40px;
}

.acenter {
    text-align: center;
}

.paging_div {
    margin-top: 10px;
    border-top: solid 1px #ababab;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    text-align: center;
}

.paging_div div {
    padding : 15px;
    text-align: center;
}

.page_num {
    margin-right: 20px;
    list-style: none;
    display : inline-block;
    cursor: pointer;
}

.search_input {
    padding: 2px;
    margin-right: 5px;
    margin-top: 15px;
    width: 50%;
}

.serach_submit {
    position: absolute;
    margin-top: 14px;
    cursor: pointer;
}

.not_data {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ababab;
}

.date_div {
    text-align: right;
    font-size: 14px;
    color: #ababab;
    margin-bottom: 10px;
    padding-right: 10px;
}

.top_title #title_txt {
    border: none;
    padding-bottom: 0px;
}

.top_title {
    border-bottom: solid 1px #ababab;
}

.Category {
    padding-left: 5px;
    padding-right: 20px;
}

.Category ul { line-height: 40px; }
.Category ul li { list-style: none; }
.Category ul li a { list-style: none; color : black; text-decoration: none; }
.Category ul li .pre_cat { font-weight: bold; color : teal }

.Edit {
    position: absolute;
    margin : 10px 0px 0px 15px;
    padding: 1px 8px 1px 7px;
    border-radius: 4px;
    color: #ababab;
    background-color: #fff;
    border-color: #ababab;
    cursor: pointer;
}

.remove_icon {
    position: absolute;
    width: 15px;
    margin-top: 14px;
    cursor: pointer;
}
.edit_input { 
    width: 70%;
    margin-left: 25px;
}

.modify_icon {
    position: absolute;
    width: 20px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.CKEditor {
    margin-top : 20px;
    margin-left: 50px;
    width: 86.3%;
}

.View {
    padding: 50px 70px 0px 70px;
}