.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header_grid {
  display: grid;
  grid-template-columns: 33% 33% auto;
  border-bottom : solid 1px #ababab;
}

.acenter { 
  text-align : center; 
}

.btn_cursor {
  cursor : pointer;
}

.link_tit {
  color : black;
  text-decoration: none;
}

.login_tit {
  border-bottom: solid 1px #ababab;
  padding-bottom : 20px
}

.modal_tools {
  margin-top : -100px
}

.login_input_div p {
  font-weight: bold;
  margin-bottom : 8px;
}

.login_input_div input {
  width: 92%;
  padding: 4px;
  margin-top: -10px;
}

.login_div {
  text-align: left;
  padding-left: 20px;
}

.submit_div {
  display: grid;
  grid-template-columns: 45% auto;
  margin-top: 12%;
}

.submit_div div {
  text-align: center;
}

.submit_div div input {
  cursor: pointer;
}
